{% extends "!layout.html" %}

  {% block menu %}
	{{ super() }}
	<p class="caption"><span class="caption-text">Indices</span></p>
    <a href="{{pathto('genindex.html', 1)}}">General Index</a>
    <a href="{{pathto('py-modindex.html', 1)}}">Module Index</a>
  {% endblock %}
